<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Spring Boot with jQuery</title>
	<script src="	https://code.jquery.com/jquery-3.6.0.min.js"></script>
	
</head>
<body>
    <h1 id="greeting">Hello!</h1>
    <button id="fetchGreeting">Fetch Greeting</button>
	<hr>
	
	<div class="ancestor">
	    <div class="parent">
	        <div class="child">
	            <p id="target">Target Element</p>
	        </div>
	    </div>
	</div>
	<hr>
	
	<button id="deleteButton">Delete Target</button>
	<div class="ancestor">
	    <div class="parent">
	        <div class="child">
	            <p id="deltarget" class="highlight">Target Element</p>
	        </div>
	    </div>
	</div>
	<hr>
	
	<button id="changeButton">ChangeCsv</button>
	<div class="ancestor">
	    <div class="parent">
	        <div class="child">
	            <p id="changeTarget" class="highlight">Target Element</p>
	        </div>
	    </div>
	</div>
	<hr>
	
	<button id="toggleOnButton">OnView</button>
	<button id="toggleOffButton">OffView</button>
	<div class="ancestor">
		    <div class="parent">
		        <div class="child">
		            <p id="toggleTarget" class="highlight">Target Element</p>
		        </div>
		    </div>
	</div>
	<hr>
	<div class="ancestor">
		<form name="play" th:action="@{/jq/postdata}" th:object="${jqueryform}"
			method="post">
			<p>SendForm</p>
				<input type="text" th:field="*{name}">
			</p>
		</form>
		<button id="playButton">Play</button>
	</div>

	<div class="ancestor">
		<button onclick="clickGet()">GoAjax</button>
	</div>
	
	<div class="ancestor">
		<button>initCache</button><br>
		<select name="cachevalue" id="cache">
			<option value="inactive">inactive</option>
			<option value="active">active</option>
			<option value="pending">pending</option>
		</select><br>
		<button>updateCache</button><br>
	</div>
		
	<style>
		/*addclass の確認用*/
	    .highlight {
	        background-color: yellow;
	    }
		
		/*cssの内容変更*/
		.ancestor{
			border: 1px solid black;
            padding: 20px;
		}
	</style>
	<script type="text/javascript" th:src="@{/js/test.js}"></script>
	<script type="text/javascript" th:src="@{/js/ajax.js}"></script>
</body>
</html>
